#wrap {
	position: relative;
	height: 50vh;
	overflow: hidden;
	width: 100%;
	padding: 25px;

	#frame {
		position: relative;
		width: 1920px;
		height: 1080px;
		// zoom: 0.02;
		transform: scale(0.2);
		transform-origin: 0 0;
	}
}

.room-previews {
	width: 100%;
	height: 150px;
	border-top: 1px solid var(--color-contrast-medium);
	display: flex;
	flex-wrap: wrap;

	.preview-wrapper {
		margin: 16px;
		height: 89.64px;
		width: 159.36px;
		z-index: 0;

		&:hover {
			cursor: pointer;
		}

		&.selected {
			outline: none;
			box-shadow: 0 0 0 3px var(--color-success);
		}

		.frame-wrapper {
			height: 89.64px;
			width: 159.36px;
			margin-bottom: 4px;
			z-index: -1;

			&.add-room {
				background-color: var(--color-contrast-low);
				color: var(--color-contrast-medium);
				padding: 35px 0;
				text-align: center;
				font-weight: 500;
			}

			.preview-frame {
				position: relative;
				width: 1920px;
				height: 1080px;
				transform: scale(0.083);
				transform-origin: 0 0;
				z-index: -1;
			}
		}
	}
}