/* 
  Back End   
*/

* {
  box-sizing: border-box;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
}

#time {
  display: none;
}

#text {
  display: flex;
}

.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.settings {
  margin: 64px;
  width: 100%;
  height: 100%;
  padding: 0 32px;
  margin: 0 auto;
  border-radius: 12px;
}

nav {
  width: 100%;
  height: 75px;
  background-color: rgb(218, 218, 218);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
}

nav ul li.active {
  background-color: #fff;
}

nav li a {
  color: #000;
}

.slide {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.head-res,
.sub-res,
.count-res {
  width: max-content;
}

.close {
  line-height: 1.7;
  margin-left: 10px;
}

.head,
.sub,
.count,
.close {
  display: inline-block;
}

#delete-all {
  align-self: flex-start;
}

/* 
  Front End   
*/

.text {
  display: block;
  margin: auto;
  margin-top: 63vh;
  font-family: 'Montserrat';
  font-size: 2em;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px rgb(63, 115, 115);
}

.headline {
  display: block;
  margin: auto;
  margin-top: 40vh;
  font-family: 'Montserrat';
  font-size: 8em;
  position: absolute;
  width: 100%;
  height: 200vh;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px rgb(63, 115, 115);
}

.table-content {
  width: 50%;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 22px;
}

.countdownContainer {
  position: absolute;
  color: white;
  font-family: 'Montserrat';
  width: 100%;
}

.count10Container .headline.animate {
  transform: translateY(10040px) scale3d(12, 12, 1);
  /* transform: translateY(-470px); */
  /* zoom: 1200%; */
  transition: 1s linear;
  /* font-size: 80em */
  /* backface-visibility: hidden; */
  filter: blur(0);
}

.count10Container .headline {
  /* transform: translateY(-8131px); */
  /* zoom: 10% */
  transform: scale3d(1, 1, 1)
}

.count10Container {
  display: none;
  transform: translateY(-50%);
  top: 50%;
}

#minutes {
  font-size: 20em;
  float: left;
}

#seconds {
  font-size: 7em;
  margin-top: 2em;
}