/* 
  Back End   
*/

* {
  box-sizing: border-box;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
}

#time {
  display: none;
}

#text {
  display: flex;
}

.block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.settings {
  margin: 64px;
  width: 100%;
  height: 100%;
  padding: 0 32px;
  margin: 0 auto;
  border-radius: 12px;
}

.live {
  box-shadow: inset 0 0 20px red;
}

.live-icon {
  float: right;
  position: relative;
  bottom: 0;
}

.live-icon .live-image {
  width: 70px;
  height: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('live-disabled.png');
}

.live-icon .live-image:hover {
  background-image: url('live.png');
  cursor: pointer;
}

nav {
  width: 100%;
  height: 75px;
  background-color: rgb(218, 218, 218);
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
}

nav ul li.active {
  background-color: #fff;
}

nav li a {
  color: #000;
}

.slide {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.head-res,
.sub-res {
  width: max-content;
}

.close {
  line-height: 1.7;
  margin-left: 10px;
}

.head,
.sub,
.close {
  display: inline-block;
}

#delete-all {
  align-self: flex-end;
}

/* 
  Front End   
*/

.text {
  display: block;
  margin: auto;
  margin-top: 63vh;
  font-family: 'Montserrat';
  font-size: 2em;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px rgb(63, 115, 115);
}

.headline {
  display: block;
  margin: auto;
  margin-top: 40vh;
  font-family: 'Montserrat';
  font-size: 8em;
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 5px rgb(63, 115, 115);
}

.table-content {
  width: 50%;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 22px;
}

.countdownContainer {
  position: absolute;
  color: white;
  font-family: 'Montserrat';
  width: 100%
}

#minutes {
  font-size: 20em;
  float: left;
}

#seconds {
  font-size: 7em;
  margin-top: 2em;
}